
.topbar{
    background: rgb(247, 247, 247);
    height: 50px;
}
.introfirvid{
    width: 98vw;
    height: auto;
}

.buybtn{
    /* border-radius: 40%; */
    width: 65px;
    height: auto;
    font-size: large;
    font-weight: 500;
}

.row-4{
    padding-top: 7%;
}

.Get{
    font-weight: 700;
    font-size: 35px;
}