
.topbar{
    background: rgb(233, 231, 231);
    height: 50px;
}
.introfirvid{
    width: 98vw;
    height: auto;
}

.buybtn{
    /* border-radius: 40%; */
    width: 65px;
    height: auto;
    font-size: large;
    font-weight: 500;
}

.row-4{
    padding-top: 7%;
}

.Get{
    font-weight: 700;
    font-size: 35px;
}


.pt-10{
    padding-top: 25vh;
}